extends layout

block content
  header
    h1 Module list

    if modules.length == 0
      h2 No Modules
    else
      form(action="" method="get")
        input(type="text" name="search" placeholder="search term" value=params.search) 
        button(type="submit") Search for module

      table
        thead
          tr
            th Author
            th Module
            th Description
            th Version
            th Modify date
            th Git-Link
            th Website
            th Edit
            th Delete

        tbody
          each module in modules
            tr
              td
                p=module.author
              td
                strong=module.name
              td
                p=module.description
              td
                time=module.version
              td
                p=module.updatedAt
              td
                a(href=module.git) GitHub-Repo
              td
                a(href=module.url) Info
              td
                a(href='/' + module._id + '/edit') Edit
              td
                a(href='/' + module._id + '/delete') Delete