extends layout

block content
  h1=title

  p=message

  form(action="/edit/save" method="post")

    label(for="author") Author:
      input(type="text" name="author" size=40 maxlenght=40 value=module.author)

    label(for="description") Description:
      input(type="text" name="description" size=60 maxlength=300 value=module.description)

    label(for="name") Name:
      input(type="text" name="name" size=60 maxlenght=100 value=module.name)

    label(for="homepage") Website-Link:
      input(type="text" name="homepage" size=60 maxlength=100 value=module.homepage)

    label(for="version") Version:
      input(type="text" name="version" size=60 maxlength=15 value=module.version)

    input(type="hidden" name="_id" value=module._id)

    input(type="hidden" name="git" value=module.git)

    button(type="submit") Save
